﻿@model S1071637.ViewModel.BMIData
@{
    ViewBag.Title = "BMI";
}

<h2>BMI</h2>
<form method="post" action="@Url.Action("BMI")">
    @Html.DisplayNameFor(m => m.H)
    @Html.TextBoxFor(m => m.H) 公分
    @Html.ValidationMessageFor(modelItem => @Model.H)<br />

    @Html.DisplayNameFor(m => m.W)
    @Html.TextBoxFor(m => m.W)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.W)<br />

    <p><input type="submit" name="name" value="測量" /></p>

</form>
<p>測量結果:@Model.R</p>
<p>測量等級:@Model.L</p>