﻿
@{
    ViewBag.Title = "html";
}

<h2>html</h2>
<p> 英雄稱謂:<input type=" text"name="name" value=""> </p>
<p> 英雄代號:<input type="text" name="name" value="" /></p>
<p> 通關密語:<input type="password" name="name" value="" /></p>
<p>
    性別:
    <input type="radio" name="gender" value="A" />男生
    <input type="radio" name="gender" value="B" />楊勝
</p>
<p>
    興趣
    <input type="checkbox" name="h-1" value="A" />成為英雄
    <input type="checkbox" name="h-2" value="B" />變身成魔法少女
</p>
<p>為什麼要成為英雄 :<textarea></textarea></p>