﻿
@{
    ViewBag.Title = "HTMLHelper";
}

<h2>HTMLHelper</h2>

<p> 英雄稱謂:@Html.TextBox("username", "琦玉") </p>
<p> 英雄代號:@Html.TextBox("account", "禿頭披風俠") </p>
<p> 通關密語:@Html.Password("pwd") </p>
<p>
    性別:
    @Html.RadioButton("gender", "A", true)秘密
    @Html.RadioButton("gender", "B")男生
    @Html.RadioButton("gender", "C")楊勝
</p>
<p>
    興趣
    @Html.CheckBox("hebby-1", "A")成為英雄
    @Html.CheckBox("hebby-2", "B")變身成魔法少女
</p>
<p>為什麼要成為英雄/魔法少女 :@Html.TextArea("aboutme", "興趣使然")</p>

@*<p> 英雄稱謂:<input type=" text" name="name" value=""> </p>
    <p> 英雄代號:<input type="text" name="name" value="" /></p>
    <p> 通關密語:<input type="password" name="name" value="" /></p>
    <p>
        性別:
        <input type="radio" name="gender" value="A" />男生
        <input type="radio" name="gender" value="B" />楊勝
    </p>
    <p>
        興趣
        <input type="checkbox" name="h-1" value="A" />成為英雄
        <input type="checkbox" name="h-2" value="B" />變身成魔法少女
    </p>
    <p>為什麼要成為英雄 :<textarea></textarea></p>*@